html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  overflow: hidden;
}

canvas {
  outline: none;
  position: absolute;
  top: 0;
  left: 0;
}
